@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif, 'Roboto Mono', monospace;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
  margin: 0;
  padding: 0;

}
.App {
  background: black;
}